<rp-advanced-filter-table> </rp-advanced-filter-table>

<!--TODO TEMPLATES-->

<ng-template let-data #action>
    <button nz-button nzType="primary" nzSize="small" (click)="onViewAccountUser(data.accountUserId)" class="rp-space">
        <i nz-icon nzType="eye" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" nzSize="small" (click)="onEditAccountUser(data)" class="rp-space">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>
</ng-template>

<ng-template let-data #delete>
    <rp-delete-account-user [accountUserId]="data.accountUserId"></rp-delete-account-user>
</ng-template>

<ng-template #rolesTemplate let-data>
    <ng-container *ngIf="(data.roles?.length || 0) > 3; else showTags">
        <a class="non-linkable" nz-popover [nzPopoverTitle]="'view-account-users.roles' | i18next" [nzPopoverContent]="showTags"
            >{{ data.roles?.length }} {{ 'account-user.roles' | i18next }}</a
        >
    </ng-container>
    <ng-template #showTags>
        <ng-container *ngFor="let accountUserRole of data.roles">
            <span><i nz-icon nzType="tag" nzTheme="twotone"></i> {{ 'account-user-role.' + accountUserRole.role.name | i18next }}</span>
            <br />
        </ng-container>
    </ng-template>
</ng-template>

<button nz-button [nzType]="'primary'" class="rp-space" (click)="onCreateAccountUser()" *rpHasPermission="[permissions.CreateUsers]">
    <i nz-icon nzType="plus-circle" nzTheme="outline"></i> {{ 'account-user.create' | i18next }}
</button>
