<form nz-form [formGroup]="changePasswordForm" class="login-form" (ngSubmit)="onPasswordChange()">
    <div class="logo">
        <div class="image"></div>
    </div>
    <!--    <nz-divider></nz-divider>-->
    <nz-form-item>
        <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
                <input type="password" nz-input formControlName="newPassword" [placeholder]="'change-password.new_password' | i18next" />
            </nz-input-group>
            <nz-form-explain *ngIf="changePasswordForm.get('newPassword')?.dirty && changePasswordForm.get('newPassword')?.errors">
                <ng-container *ngIf="changePasswordForm.get('newPassword')?.errors.required">
                    {{ 'change-password.new_password_validation' | i18next }}
                </ng-container>
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <nz-input-group [nzPrefix]="prefixLock">
                <input
                    type="password"
                    nz-input
                    formControlName="passwordConfirm"
                    [placeholder]="'change-password.confirm_password' | i18next"
                />
            </nz-input-group>
            <nz-form-explain
                *ngIf="changePasswordForm?.get('passwordConfirm')?.dirty && changePasswordForm?.get('passwordConfirm')?.errors"
            >
                {{ 'change-password.confirm_password_validation' | i18next }}
            </nz-form-explain>
        </nz-form-control>
    </nz-form-item>
    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!changePasswordForm.valid" nzBlock [nzLoading]="changePasswordState.isLoading()">
                {{ 'change-password.confirm' | i18next }}
            </button>
        </nz-form-control>
    </nz-form-item>
    <nz-alert nzType="success" *ngIf="changePasswordState?.hasSucceeded()" [nzMessage]="changePasswordState?.successResult().message">
    </nz-alert>
    <nz-alert
        nzType="info"
        *ngIf="changePasswordState?.hasFailed()"
        [nzMessage]="changePasswordState?.failedResult().message"
        [nzDescription]="changePasswordState?.failedResult().context.message"
    ></nz-alert>
</form>
<ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
<ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
