<form nz-form [formGroup]="updateContractForm" nzLayout="vertical" (ngSubmit)="onUpdateContract()">
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="name">Name</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="name" id="name">-->
    <!--            <nz-form-explain *ngIf="updateContractForm.get('name')?.dirty && updateContractForm.get('name')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="identifier">Identifier</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="identifier" id="identifier">-->
    <!--            <nz-form-explain-->
    <!--                *ngIf="updateContractForm.get('identifier')?.dirty && updateContractForm.get('identifier')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-control>-->
    <!--            <button nz-button nzType="primary" [disabled]="!updateContractForm.valid"-->
    <!--                    [nzLoading]="updateContractState.isLoading()"><i nz-icon nzType="save" nzTheme="outline"></i>-->
    <!--                Save-->
    <!--            </button>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
</form>
<nz-alert
    nzType="success"
    *ngIf="updateContractState?.hasSucceeded()"
    [nzMessage]="updateContractState?.successResult().message"
    nzShowIcon
>
</nz-alert>
<nz-alert
    nzType="error"
    *ngIf="updateContractState?.hasFailed()"
    [nzMessage]="updateContractState?.failedResult().message"
    [nzDescription]="updateContractState?.failedResult().context.message"
    nzShowIcon
></nz-alert>
