<rp-general-page [title]="'create-user-page.title' | i18next" [icon]="'plus-circle'">
    <div class="rp-round-card rp-page-section">
        <rp-create-user (complete)="onComplete($event)"></rp-create-user>
        <nz-alert
            nzType="success"
            *ngIf="createUserState?.hasSucceeded()"
            [nzMessage]="createUserState?.successResult().message"
            nzShowIcon
        >
        </nz-alert>
        <nz-alert
            nzType="error"
            *ngIf="createUserState?.hasFailed()"
            [nzMessage]="createUserState?.failedResult().message"
            [nzDescription]="createUserState?.failedResult().context.message"
            nzShowIcon
        ></nz-alert>
    </div>
</rp-general-page>
