<form nz-form [formGroup]="createAccountRelationForm" nzLayout="vertical">
    <nz-row nzGutter="24">
        <nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="forwardAccountId">{{ 'account-relation.account' }}</nz-form-label>
                <nz-form-control>
                    <rp-account-dropdown formControlName="forwardAccountId"></rp-account-dropdown>
                    <nz-form-explain
                        *ngIf="
                            createAccountRelationForm.get('forwardAccountId')?.dirty &&
                            createAccountRelationForm.get('forwardAccountId')?.errors
                        "
                    >
                        {{ 'input_required' | i18next }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <!--    Data-->
    <nz-row nzGutter="24" formGroupName="data">
        <nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="summary">{{ 'account-relation.summary' | i18next }}</nz-form-label>
                <nz-form-control>
                    <textarea nz-input formControlName="summary"></textarea>
                    <nz-form-explain *ngIf="createAccountRelationForm.get('name')?.dirty && createAccountRelationForm.get('name')?.errors">
                        {{ 'input_required' | i18next }}
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>

        <nz-col nzSpan="24">
            <table>
                <thead>
                    <tr>
                        <th>{{ 'create-account-relation.field_title' | i18next }}</th>
                        <th>{{ 'create-account-relation.field_value' | i18next }}</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let field of customFields | keyvalue">
                        <td>{{ field.key }}</td>
                        <td>{{ field.value }}</td>
                        <td>
                            <button nz-button nzType="danger" (click)="onRemoveCustomField(field.key)">
                                {{ 'action.remove' | i18next }}
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td><input nz-input type="text" #keyInput /></td>
                        <td><input nz-input type="text" #valueInput /></td>
                        <td>
                            <button nz-button style="width: 100%" (click)="onAddCustomField(keyInput.value, valueInput.value)">
                                {{ 'action.add' | i18next }}
                            </button>
                        </td>
                    </tr>
                </tbody>
            </table>
        </nz-col>
    </nz-row>

    <nz-row nzGutter="24" style="margin-top: 14px">
        <nz-col>
            <button nz-button nzType="primary" (click)="onCreateAccountRelation()" [disabled]="!createAccountRelationForm.valid">
                {{ 'action.create' | i18next }}
            </button>
        </nz-col>
    </nz-row>
</form>
