<p>Hey {{name}},</p>
<br>
<p>Your role(s) for <strong>{{accountName}}</strong> have changed to:</p>
<br>
<p>{{roleName}}</p>
<br>
<p>Please contact the account admin directly if you are unsure why this has happened.</p>
<br>
