<p>Hey {{name}},</p>
<br>
<p>You have been removed as a user from <strong>{{accountName}}</strong>.</p>
<br>
<p>Please contact the account admin directly if you are unsure why this has happened.</p>
<br>
