<p>Hey {{name}},</p>
<br>
<p>You have been invited to Road Protect as a <strong>{{roleName}}</strong> for <strong>{{accountName}}</strong>.</p>
<br>
<p>Please <a href="{{link}}">click here</a> to login. <br>
    <i>Note:</i> use the email address you received this email on.</p>
<br>
