<p>Hey {{name}},</p>
<br>
<p>
    URGENT: The IP address of the Fleet Cluster Node has changed, this means that ATG requests will no longer work until it is set back to {{internalIP}}.
    Please recreate the node as soon as possible to get the IP to return to the correct one.
</p>
<br>
