<p>Hey {{name}},</p>
<br>
    <p>
        An error occurred with your payment (payment reference: {{paymentId}}).
    </p>
<br>
    <p>
        This payment was made on {{paymentDate}} for infringement {{infringementNoticeNumber}}.
    </p>
<br>
<p>
    Our team is investigating the issue. You will be notified of the outcome.
</p>
<br>
