<p>Hey {{name}},</p>
<br>
<p>You have requested a password reset for your account with email address: {{email}}.</p>
<br>

<p>To reset your password:</p>
<a href="{{link}}">
    Click here
</a>
<!--<p>Or, copy and paste the link below:</p>-->
<!--<span>{{link}}</span>-->

<br>
<br>
<p><i>Note:</i> if you did not request a password reset please ignore this email. If you are concerned about your account's security please contact us immediately.</p>
<br>
