<div style="direction: rtl !important; text-align: right" dir="rtl">

    <p>

        <span> לכבוד מועצה מקומית/מועצה אזורית/עיריית </span>
        <span> {{name}} </span>
    </p>

    <br>


    <p>
       אנא העבירו לנו את כל המידע עבור הקנסות הפתוחים ובגבייה הרשומים על הח.פ"ים המפורטים מטה, על מנת שנוכל לטפל בהם במיידי, בעזרת חברת ROAD PROTECT.
       </p>
 <br>
 <p>
 
 
מצורף ייפוי כוח אליהם אנו מבקשים את המידע.
 </p>
 <br>
 <p>
 
 
נציג מחברת ROAD PROTECT יהיה בקשר אתכם לגבי הנ"ל.
 </p>
 <br>
תודה,
<br>

אור גולדגמר
<br>
צוות ROAD PROTECT
<br>

טלפון לבירורים:058-794-4611
<br>
אימייל: muni@roadprotect.co.il <br>


    </p>

    <br>

   


<div id="accounts"></div>
<table style='width: 100%; border: 1px solid lightgrey;
  border-collapse: collapse;'>
<thead>
  <tr style="padding: 2px 4px;">
      <th style="padding: 2px 4px;border: 1px solid lightgrey;">מס</th>
      <th style="padding: 2px 4px;border: 1px solid lightgrey;">שם חברה</th>
      <th style="padding: 2px 4px;border: 1px solid lightgrey;">ח.פ.</th>
  </tr>
</thead>
<tbody>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">1</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">רז פרוגרס</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">512668021</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">2</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">מאיר ליסינג</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">511725434</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">3</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">יפנאוטו</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510524283</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">4</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">שטראוס גרופ</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">520003781</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">5</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">אדום לוגיסטיקה</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">514610559</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">6</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">קל אוטו</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">512699000</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">7</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">קימברלי קלארק</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510953904</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">8</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">יוניברסל</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">512004235</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">9</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">תעבורה</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">512562422</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">10</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">כל מוביל</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510242670</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">11</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">שטראוס פריטו</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510909450</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">12</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">מכשירי תנועה</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">550243356</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">13</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">סמלת</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510033822</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">14</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">כלמוביל</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">512869777</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">15</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">תנובה</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">570000745</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">16</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">טמפו שיווק</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">510901309</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">17</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">יקבי ברקן שיווק</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">511784308</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">18</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">יקבי ברקן שיווק</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">520041682</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">19</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">טמפו משקאות</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">513682625</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">20</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">ש.ישראל</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">514225044</td>
    </tr>
    <tr style="padding: 2px 4px;border: 1px solid lightgrey;">
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">21</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">דומיקאר</td>
        <td style="padding: 2px 4px;border: 1px solid lightgrey;">520038985</td>
    </tr>
</tbody>
</table>
</div>




