<p>Hey {{name}},</p>
<br>
<p>You have been invited to Road Protect by {{inviter}}.</p>
<br>
<p>
    To login use this email address and the provided password.
</p>
<br>
<p>
    Your password is: <strong>{{password}}</strong>
    <br>
    <i>Please change this password after logging in at your earliest convenience.</i>
</p>
<p><a href="{{link}}">Click here</a> to login.</p>
<br>
