<p>Hey {{name}},</p>
<br>
<p>A vehicle with registration <strong>{{vehicleRegistration}}</strong> has been added to Road Protect. {{accountName}} has been specified as the {{type}} of this vehicle.
</p>
<br>
