<rp-general-graphing-by-page (showComparison)="showComparison($event)" (viewGraph)="onViewGraph()"></rp-general-graphing-by-page>
<table class="rp-basic-data-table" *ngIf="groupedIssuersSliderRange.max">
    <tbody>
        <tr>
            <td>
                {{ 'graphing-by-issuer.number_of_issuers' | i18next }} [{{ groupedIssuers }}]
                <br/>
                <span>{{ 'graphing-by-issuer.total_number_of_unique_issuers' | i18next }} [{{totalUniqueIssuers}}]</span>
            </td>
            <td>
                <nz-slider
                    [(ngModel)]="groupedIssuers"
                    [nzMin]="groupedIssuersSliderRange.min"
                    [nzMax]="groupedIssuersSliderRange.max"
                    (ngModelChange)="onChangeIssuerNumber()"
                >
                </nz-slider>
            </td>
            <td>
                <label nz-checkbox [(ngModel)]="showOthers" (nzCheckedChange)="onChangeShowOthers()">{{
                    'graphing-by-issuer.compare_to_other_issuers' | i18next
                }}</label>
            </td>
        </tr>
    </tbody>
</table>
<nz-divider></nz-divider>

<ng-container *ngIf="isComparisonLoading > 0 || isGraphLoading > 0; else notLoading">
    <nz-row>
        <nz-spin style="margin: 20px" [nzSize]="'large'" [nzSpinning]="true"></nz-spin>
    </nz-row>
</ng-container>
<ng-template #notLoading>
    <ng-container class="custom-filters" *ngIf="showGraphs">
        <nz-radio-group [(ngModel)]="graphDisplay">
            <label nz-radio nzValue="bar-graph"
                ><i nz-icon nzType="bar-chart" nzTheme="outline"></i> {{ 'graphing-by.bar_graph' | i18next }}</label
            >
            <label nz-radio nzValue="line-graph"
                ><i nz-icon nzType="line-chart" nzTheme="outline"></i> {{ 'graphing-by.line_graph' | i18next }}</label
            >
        </nz-radio-group>
        <br />

        <nz-row>
            <nz-col nzSpan="18">
                <div *ngIf="showLineGraph()">
                    <rp-graphing-by-issuer-line-graph></rp-graphing-by-issuer-line-graph>
                    <br />
                </div>
                <div *ngIf="showBarGraph()">
                    <rp-graphing-by-issuer-bar-graph></rp-graphing-by-issuer-bar-graph>
                    <br />
                </div>
            </nz-col>
            <nz-col nzSpan="6">
                <div *ngIf="selectedParameters" class="selected-parameter-description">
                    <p *ngIf="selectedParameters.startDate && selectedParameters.endDate">
                        {{ 'graphing-by-issuer.offence_date' | i18next }}:
                        <rp-general-time-display [time]="selectedParameters.startDate" [short]="true"></rp-general-time-display> -
                        <rp-general-time-display [time]="selectedParameters.endDate" [short]="true"></rp-general-time-display>
                    </p>
                    <div *ngIf="selectedParameters.issuers">
                        <span> {{ 'graphing-by-issuer.issuers' | i18next }} </span>
                        <ul *ngFor="let issuer of selectedParameters.issuers">
                            <li>{{ issuer }}</li>
                        </ul>
                    </div>
                </div>
                <div *ngIf="selectedParameters">
                    <br />

                    <button nz-button nzType="primary" (click)="viewInfringements()">
                        {{ 'graphing-by.view_selected_infringements' | i18next }}
                    </button>
                </div>
            </nz-col>
        </nz-row>

        <nz-row>
            <rp-graphing-by-issuer-table style="width: 100%"></rp-graphing-by-issuer-table>
        </nz-row>

        <ng-container *ngIf="showInfringementsTable">
            <nz-divider></nz-divider>
            <nz-row nzGutter="24">
                <nz-col nzSpan="22">
                    <h2>{{ 'graphing-by.selected_infringements' | i18next }}</h2>
                </nz-col>
                <nz-col nzSpan="2">
                    <button nz-button nzType="default" (click)="toggleInfringementCollapsed()" class="rp-space">
                        <i nz-icon [nzType]="'up'"></i>{{ 'summary-indicators.hide' | i18next }}
                    </button>
                </nz-col>
            </nz-row>
            <rp-graphing-infringement-table></rp-graphing-infringement-table>
        </ng-container>
    </ng-container>

    <ng-container *ngIf="noAggregatedData">
        <nz-empty [nzNotFoundContent]="'general-table.no_result' | i18next"></nz-empty>
    </ng-container>
</ng-template>
