<!--<p style="padding: 0; margin: 0;text-align: center;">Terms and Conditions | Privacy Policy | Help &amp; Faq</p>-->
{{#if customFooter}}
    {{{customFooter}}}
{{else}}
<!--    No Footer-->
{{/if}}
