<form nz-form [formGroup]="createPaymentForm" nzLayout="vertical" (ngSubmit)="onCreatePayment()">
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="name">Name</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="name" id="name">-->
    <!--            <nz-form-explain *ngIf="createPaymentForm.get('name')?.dirty && createPaymentForm.get('name')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="identifier">Identifier</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="identifier" id="identifier">-->
    <!--            <nz-form-explain-->
    <!--                *ngIf="createPaymentForm.get('identifier')?.dirty && createPaymentForm.get('identifier')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-control>-->
    <!--            <button nz-button nzType="primary" [disabled]="!createPaymentForm.valid"-->
    <!--                    [nzLoading]="createPaymentState.isLoading()"><i nz-icon nzType="plus-circle" nzTheme="outline"></i>-->
    <!--                Create-->
    <!--            </button>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
</form>
