<rp-general-page [icon]="'profile'" [title]="'ownership-contracts-page.title' | i18next" [enableBreadcrumb]="true">
    <div class="rp-round-card rp-page-section">
        <rp-view-ownership-contracts class="rp-round-card" [action]="tableAction"></rp-view-ownership-contracts>
        <ng-template let-data #tableAction>
            <button nz-button nzType="primary" nzSize="small" (click)="onViewOwnershipContract(data.contractId)" class="rp-space">
                <i nz-icon nzType="eye" nzTheme="outline"></i>
            </button>
        </ng-template>
    </div>
    <div class="rp-round-card rp-page-section">
        <button nz-button [nzType]="'primary'" class="rp-space" (click)="onCreateOwnershipContract()">
            <i nz-icon nzType="plus-circle" nzTheme="outline"></i> {{ 'ownership-contracts-page.create' | i18next }}
        </button>
        <button nz-button [nzType]="'default'">
            <i nz-icon nzType="upload" nzTheme="outline"></i> {{ 'ownership-contracts-page.import' | i18next }}
        </button>
    </div>
</rp-general-page>
