<rp-advanced-filter-table> </rp-advanced-filter-table>

<ng-template #timestamp let-data>
    <rp-general-time-display [time]="data.createdAt"></rp-general-time-display>
</ng-template>
<ng-template #source let-data>
    {{ data.client?.name | lowercase | sentenceCase }}
</ng-template>

<ng-template #isSuccessful let-data>
    <i nz-icon nzType="check-circle" nzTheme="twotone" nzTwotoneColor="green" *ngIf="isCompleted(data.status)"></i>
    <i nz-icon nzType="close-circle" nzTheme="twotone" nzTwotoneColor="red" *ngIf="isFailed(data.status)"></i>
    <i nz-icon nzType="exclamation-circle" nzTheme="twotone" nzTwotoneColor="yellow" *ngIf="isPending(data.status)"></i>
</ng-template>

<ng-template #formattedRawInfringement let-data>
    <rp-json [data]="data.data" maxHeight="100px"></rp-json>
</ng-template>

<ng-template #formattedResult let-data>
    <rp-json [data]="data.result" maxHeight="100px"></rp-json>
</ng-template>

<ng-template let-data #action>
    <button nz-button nzType="primary" nzSize="small" (click)="onViewRawInfringementLog(data.rawInfringementId)" class="rp-space">
        <i nz-icon nzType="eye" nzTheme="outline"></i>
    </button>
</ng-template>
