<form nz-form [formGroup]="createAccountForm" nzLayout="vertical" (ngSubmit)="onCreateAccount()">
    <nz-row nzGutter="24" formGroupName="basicDetails">
        <nz-col nzSpan="24">
            <h3 class="rp-primary-color">{{ 'account.details' | i18next }}</h3>
        </nz-col>
        <nz-col nzSpan="24">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="name">{{ 'account.name' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="name" id="accountName" />
                    <nz-form-explain
                        *ngIf="createAccountForm.get('basicDetails.name')?.dirty && createAccountForm.get('basicDetails.name')?.errors"
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['basicDetails']"
                            key="name"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="identifier">{{ 'account.id' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="identifier" id="identifier" />
                    <nz-form-explain
                        *ngIf="
                            createAccountForm.get('basicDetails.identifier')?.dirty &&
                            createAccountForm.get('basicDetails.identifier')?.errors
                        "
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['basicDetails']"
                            key="identifier"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="role">{{ 'account.primary_role' | i18next }}</nz-form-label>
                <nz-form-control>
                    <nz-select formControlName="role" nzPlaceHolder="Select a primary role for this account">
                        <nz-option *ngFor="let role of accountRoles" [nzValue]="role" [nzLabel]="role"></nz-option>
                    </nz-select>
                    <nz-form-explain
                        *ngIf="createAccountForm.get('basicDetails.role')?.dirty && createAccountForm.get('basicDetails.role')?.errors"
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['basicDetails']"
                            key="role"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzRequired nzFor="primaryContact">{{ 'account.primary_contact' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="primaryContact" id="primaryContact" />
                    <nz-form-explain
                        *ngIf="
                            createAccountForm.get('basicDetails.primaryContact')?.dirty &&
                            createAccountForm.get('basicDetails.primaryContact')?.errors
                        "
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['basicDetails']"
                            key="primaryContact"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <nz-divider></nz-divider>
    <div *ngIf="!locationIsValid()">
        <span>{{ 'account.location_requirement' | i18next }} </span>
    </div>
    <br />
    <rp-street-address-autocomplete></rp-street-address-autocomplete>
    <nz-divider></nz-divider>

    <nz-row nzGutter="24" formGroupName="postalLocation">
        <nz-col nzSpan="24">
            <h3 class="rp-primary-color">{{ 'account.postal_location' | i18next }}</h3>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="postOfficeBox">{{ 'account.post_office_box' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="postOfficeBox" id="postOfficeBox" />
                    <nz-form-explain
                        *ngIf="
                            createAccountForm.get('postalLocation.postOfficeBox')?.dirty &&
                            createAccountForm.get('postalLocation.postOfficeBox')?.errors
                        "
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['postalLocation']"
                            key="postOfficeBox"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="city">{{ 'account.city' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="city" id="city" />
                    <nz-form-explain
                        *ngIf="createAccountForm.get('postalLocation.city')?.dirty && createAccountForm.get('postalLocation.city')?.errors"
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['postalLocation']"
                            key="city"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="country">{{ 'account.country' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="country" id="country" />
                    <nz-form-explain *ngIf="createAccountForm.get('country')?.dirty && createAccountForm.get('country')?.errors">
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['postalLocation']"
                            key="country"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="code">{{ 'account.postal_code' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="code" id="code" />
                    <nz-form-explain
                        *ngIf="createAccountForm.get('postalLocation.code')?.dirty && createAccountForm.get('postalLocation.code')?.errors"
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['postalLocation']"
                            key="code"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <nz-divider></nz-divider>

    <nz-row nzGutter="24" formGroupName="details">
        <nz-col nzSpan="24">
            <h3 class="rp-primary-color">{{ 'account.contact_details' | i18next }}</h3>
        </nz-col>

        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="name">{{ 'account.contact_name' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="name" id="contactName" />
                    <nz-form-explain *ngIf="createAccountForm.get('details.name')?.dirty && createAccountForm.get('details.name')?.errors">
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['details']"
                            key="name"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="telephone">{{ 'account.contact_telephone' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="telephone" id="telephone" />
                    <nz-form-explain
                        *ngIf="createAccountForm.get('details.telephone')?.dirty && createAccountForm.get('details.telephone')?.errors"
                    >
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['details']"
                            key="telephone"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
        <nz-col nzSpan="12">
            <nz-form-item>
                <nz-form-label nzFor="fax">{{ 'account.contact_fax' | i18next }}</nz-form-label>
                <nz-form-control>
                    <input nz-input formControlName="fax" id="fax" />
                    <nz-form-explain *ngIf="createAccountForm.get('fax')?.dirty && createAccountForm.get('fax')?.errors">
                        <rp-general-form-error-display
                            [form]="createAccountForm.controls['details']"
                            key="fax"
                        ></rp-general-form-error-display>
                    </nz-form-explain>
                </nz-form-control>
            </nz-form-item>
        </nz-col>
    </nz-row>

    <nz-form-item>
        <nz-form-control>
            <button nz-button nzType="primary" [disabled]="!isValid()" nzSize="large" [nzLoading]="createAccountState.isLoading()">
                <i nz-icon nzType="plus-circle" nzTheme="outline"></i>
                {{ 'account.create' | i18next }}
            </button>
        </nz-form-control>

        <rp-general-form-errors-display [form]="createAccountForm"></rp-general-form-errors-display>
    </nz-form-item>
</form>
