<div class="batch-actions">
    <rp-batch-pay-nominations [infringements]="selectedInfringements" class="rp-space"></rp-batch-pay-nominations>
    <rp-batch-approve-for-payment [infringements]="selectedInfringements" class="rp-space"></rp-batch-approve-for-payment>
    <rp-batch-digitally-redirect-nominations [nominations]="selectedNominations" class="rp-space"></rp-batch-digitally-redirect-nominations>
    <rp-batch-municipally-redirect-nominations
        [infringements]="selectedInfringements"
        class="rp-space"
    ></rp-batch-municipally-redirect-nominations>
    <button
        nz-button
        nzType="primary"
        nz-popover
        (click)="onVerify()"
        [nzLoading]="isLoading$ | async"
        [disabled]="selectedInfringements.length <= 0"
    >
        <i nz-icon nzType="redo" nzTheme="outline"></i>{{ 'view-nomination.verify_text' | i18next }}
    </button>
</div>
