<div id="page-body">
    <!--    Welcome -->
    <div class="rp-page-section">
        <nz-row [nzGutter]="24">
            <nz-col nzSpan="18">
                <h2>
                    {{ 'home.welcome' | i18next }} {{ user.name | uppercase }}
                    <span *ngIf="user.type !== userTypes.Standard">({{ user.type }})</span>
                    <rp-view-current-permissions-button></rp-view-current-permissions-button>
                </h2>
                <div>
                    <p>
                        {{ 'home.current_account' | i18next }}
                        <nz-tag
                            ><a [routerLink]="['/home', 'account', 'profile']">{{ currentAccount?.name }}</a></nz-tag
                        >
                        {{ 'home.role' | i18next }} <strong>{{ role?.name }}</strong>
                    </p>
                </div>
            </nz-col>
            <nz-col nzSpan="6">
                <form nz-form [formGroup]="dateRangeForm">
                    <nz-form-item>
                        <rp-general-date-range-input
                            [isCompact]="false"
                            [displayModifiers]="true"
                            [displayLastMonthModifier]="false"
                            [displayLastWeekModifier]="false"
                            [displayLastYearModifier]="false"
                            [displayCurrentMonthModifier]="true"
                            [displayCurrentYearModifier]="true"
                            [displayPreviousYearModifier]="false"
                            [displayAllModifier]="true"
                            [formControl]="dateRangeForm.get('dateRange')"
                            (newDate)="onChangeDate()"
                        ></rp-general-date-range-input>
                    </nz-form-item>
                </form>
            </nz-col>
        </nz-row>
        <nz-divider></nz-divider>
    </div>

    <ng-container *ngIf="homeReportingData; else noResult">
        <div class="navigation-row">
            <div class="navigation-item">
                <div class="rp-round-card rp-navigation-card">
                    <nz-row [nzGutter]="24">
                        <!--                        Leading Issuer-->
                        <nz-col nzSpan="4">
                            <div
                                *ngIf="homeReportingData.leadingIssuer?.name; else noResult"
                                [routerLink]="['/home', 'account', 'infringements']"
                                [queryParams]="{
                                    useDefaultPreset: false,
                                    'offenceDate.min': dateRangeForm.value.dateRange.min,
                                    'offenceDate.max': dateRangeForm.value.dateRange.max,
                                    'issuer.name': homeReportingData.leadingIssuer.name
                                }"
                            >
                                <img src="assets/illustrations/infringement.svg" />
                                <h3>
                                    <i nz-icon nzType="profile" nzTheme="outline"></i>
                                    {{ 'home.totals.leading_issuer' | i18next }}
                                </h3>
                                <span nz-text nzType="secondary">{{ homeReportingData.leadingIssuer.name }}</span>
                            </div>
                        </nz-col>
                        <!--                        Total Data-->
                        <nz-col nzSpan="16">
                            <rp-graphing
                                *ngIf="homeReportingData.totals; else noResult"
                                [graphingType]="graphingTypes.NumberCards"
                                [dataPoints]="homeReportingData.totals"
                                [translateLabels]="false"
                                (select)="onSelect($event)"
                            ></rp-graphing>
                        </nz-col>
                        <!--                        Leading vehicle-->
                        <nz-col nzSpan="4">
                            <div
                                *ngIf="homeReportingData.leadingVehicle?.registration; else noResult"
                                [routerLink]="['/home', 'account', 'infringements']"
                                [queryParams]="{
                                    useDefaultPreset: false,
                                    'offenceDate.min': dateRangeForm.value.dateRange.min,
                                    'offenceDate.max': dateRangeForm.value.dateRange.max,
                                    'vehicle.registration': homeReportingData.leadingVehicle.registration
                                }"
                            >
                                <img src="assets/illustrations/vehicle.svg" />
                                <h3><i nz-icon nzType="car" nzTheme="outline"></i> {{ 'home.totals.leading_vehicle' | i18next }}</h3>
                                <span nz-text nzType="secondary">{{ homeReportingData.leadingVehicle.registration }}</span>
                            </div>
                        </nz-col>
                    </nz-row>
                </div>
            </div>
        </div>
        <div class="navigation-row">
            <!--            Costs-->
            <div class="navigation-item">
                <div class="rp-round-card rp-navigation-card">
                    <h2>{{ 'home.costs_title' | i18next }}</h2>
                    <nz-row [nzGutter]="24" class="content-row" *ngIf="homeReportingData.costs; else noResult">
                        <nz-col nzSpan="24">
                            <rp-home-number-card [data]="homeReportingData.costs" [format]="cardFormat.currency"></rp-home-number-card>
                        </nz-col>
                        <nz-col nzSpan="24">
                            <rp-home-number-card
                                [data]="calculateTotal(homeReportingData.costs)"
                                [format]="cardFormat.currency"
                            ></rp-home-number-card>
                            <rp-graphing
                                [graphingType]="graphingTypes.PieChart"
                                [dataPoints]="homeReportingData.costs"
                                [translateLabels]="false"
                                [customTooltipTemplate]="costTooltips"
                            ></rp-graphing>
                        </nz-col>
                    </nz-row>
                </div>
            </div>
            <!--            Infringement Status-->
            <div class="navigation-item">
                <div class="rp-round-card rp-navigation-card">
                    <h2>{{ 'home.infringements' | i18next }}</h2>
                    <nz-row class="content-row" *ngIf="homeReportingData.infringementStatus; else noResult">
                        <nz-col>
                            <rp-home-number-card [data]="getSummaryStatusData()"></rp-home-number-card>
                        </nz-col>
                        <nz-col>
                            <h3>{{ 'home.infringements' | i18next }}</h3>
                            <rp-home-number-card [data]="calculateTotal(homeReportingData.infringementStatus)"></rp-home-number-card>
                            <rp-graphing
                                [graphingType]="graphingTypes.PieChart"
                                [dataPoints]="homeReportingData.infringementStatus"
                                [translateLabels]="false"
                            ></rp-graphing>
                        </nz-col>
                        <nz-divider></nz-divider>
                        <nz-col>
                            <h3>{{ 'home.redirections' | i18next }}</h3>
                            <rp-home-number-card [data]="calculateTotal(homeReportingData.nominationStatus)"></rp-home-number-card>
                            <rp-graphing
                                [graphingType]="graphingTypes.PieChart"
                                [translateLabels]="false"
                                [dataPoints]="homeReportingData.nominationStatus"
                            ></rp-graphing>
                        </nz-col>
                    </nz-row>
                </div>
            </div>
            <!--            Contract Status-->
            <div class="navigation-item">
                <div class="rp-round-card rp-navigation-card">
                    <h2>{{ 'home.contracts' | i18next }}</h2>
                    <nz-row class="content-row" *ngIf="homeReportingData.contractStatus; else noResult">
                        <nz-col>
                            <rp-home-number-card [data]="homeReportingData.contractStatus"></rp-home-number-card>
                        </nz-col>
                        <nz-col>
                            <rp-home-number-card [data]="calculateTotal(homeReportingData.contractStatus)"></rp-home-number-card>
                            <rp-graphing
                                [graphingType]="graphingTypes.PieChart"
                                [translateLabels]="false"
                                [dataPoints]="homeReportingData.contractStatus"
                            ></rp-graphing>
                        </nz-col>
                    </nz-row>
                </div>
            </div>
        </div>
        <div class="navigation-row">
            <!--            Vehicles-->
            <div class="navigation-item" style="max-width: 250px">
                <div class="rp-round-card rp-navigation-card">
                    <h2>{{ 'home.vehicles_title' | i18next }}</h2>
                    <rp-graphing
                        *ngIf="homeReportingData.vehicles; else noResult"
                        class="vehicles-chart"
                        [graphingType]="graphingTypes.NumberCards"
                        [translateLabels]="false"
                        [dataPoints]="homeReportingData.vehicles"
                        (select)="onSelect($event)"
                    ></rp-graphing>
                </div>
            </div>
            <!--            Issuers-->
            <div class="navigation-item">
                <div class="rp-round-card rp-navigation-card">
                    <h2>{{ 'home.issuers_title' | i18next }}</h2>
                    <nz-row nzGutter="24" style="max-height: 400px" *ngIf="homeReportingData.issuers; else noResult">
                        <nz-col nzSpan="4">
                            <rp-graphing
                                [graphingType]="graphingTypes.NumberCards"
                                [translateLabels]="false"
                                [dataPoints]="homeReportingData.issuerTotal"
                                (select)="onSelect($event)"
                            ></rp-graphing>
                        </nz-col>
                        <nz-col nzSpan="20">
                            <h3>{{ 'home.issuers_leading_title' | i18next }}</h3>
                            <rp-graphing
                                [graphingType]="graphingTypes.HorizontalBarGraph"
                                [dataPoints]="homeReportingData.issuers"
                                [translateLabels]="false"
                                [showXAxis]="false"
                            ></rp-graphing>
                        </nz-col>
                    </nz-row>
                </div>
            </div>
        </div>
    </ng-container>
</div>

<ng-template #noResult>
    <nz-empty [nzNotFoundContent]="'general-table.no_result' | i18next"></nz-empty>
</ng-template>

<ng-template #costTooltips let-data>
    <ng-row>
        <strong> {{ data.name | i18next }} </strong>
    </ng-row>
    <nz-row>
        <rp-general-currency-display [value]="data.value"></rp-general-currency-display>
    </nz-row>
</ng-template>

<ng-template #translateTooltips let-data>
    <ng-row>
        <strong> {{ data.name | i18next }} </strong>
    </ng-row>
    <nz-row>
        {{ data.value }}
    </nz-row>
</ng-template>
