<rp-login-page>
    <form nz-form [formGroup]="forgotPasswordRequest" class="login-form" (ngSubmit)="onRequestPasswordReset()">
        <div class="logo">
            <div class="image"></div>
        </div>
        <!--    <nz-divider></nz-divider>-->
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixUser">
                    <input nzSize="large" type="text" nz-input formControlName="email" [placeholder]="'login.email' | i18next" />
                </nz-input-group>
                <nz-form-explain *ngIf="forgotPasswordRequest.get('email')?.dirty && forgotPasswordRequest.get('email')?.errors">
                    <ng-container *ngIf="forgotPasswordRequest.get('email')?.errors.required">
                        {{ 'login.email_validation' | i18next }}
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button
                    nz-button
                    nzSize="large"
                    nzType="primary"
                    [disabled]="!forgotPasswordRequest.valid"
                    nzBlock
                    [nzLoading]="forgotPasswordRequestState.isLoading()"
                >
                    {{ 'forgot-password-request.confirm' | i18next }}
                </button>
            </nz-form-control>
        </nz-form-item>
        <nz-alert
            nzType="success"
            *ngIf="forgotPasswordRequestState?.hasSucceeded()"
            [nzMessage]="forgotPasswordRequestState?.successResult().message"
        >
        </nz-alert>
        <nz-alert
            nzType="info"
            *ngIf="forgotPasswordRequestState?.hasFailed()"
            [nzMessage]="forgotPasswordRequestState?.failedResult().message"
            [nzDescription]="forgotPasswordRequestState?.failedResult().context.message"
        ></nz-alert>
    </form>
    <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
</rp-login-page>
