<rp-advanced-filter-table>
    <button nz-button [nzType]="'primary'" class="rp-space" (click)="onCreateUser()">
        <i nz-icon nzType="plus-circle" nzTheme="outline"></i> {{ 'action.create' | i18next }}
    </button>
</rp-advanced-filter-table>

<!--TODO TEMPLATES-->

<ng-template let-data #action>
    <button nz-button nzType="primary" nzSize="small" (click)="onViewUser(data.userId)" class="rp-space">
        <i nz-icon nzType="eye" nzTheme="outline"></i>
    </button>
    <button nz-button nzType="primary" nzSize="small" (click)="onEditUser(data.userId)" class="rp-space">
        <i nz-icon nzType="edit" nzTheme="outline"></i>
    </button>
</ng-template>

<ng-template let-data #delete>
    <rp-delete-user [userId]="data.userId"></rp-delete-user>
</ng-template>

<ng-template #accountsTemplate let-data>
    <ng-container *ngIf="(data.accounts?.length || 0) > 3; else showTags">
        <a nz-popover [nzPopoverTitle]="'view-users.accounts' | i18next" [nzPopoverContent]="showTags"
            >{{ data.accounts?.length }} {{ 'view-users.accounts' | i18next }}</a
        >
    </ng-container>
    <ng-template #showTags>
        <ng-container *ngFor="let userAccount of data.accounts">
            <nz-tag nzColor="blue">
                <a [routerLink]="['/home', 'accounts', 'view', userAccount.account.accountId]">{{ userAccount.account.name }}</a>
            </nz-tag>
        </ng-container>
    </ng-template>
</ng-template>
