<rp-login-page>
    <form nz-form [formGroup]="forgotPasswordConfirm" class="login-form" (ngSubmit)="onConfirmPasswordReset()">
        <div class="logo">
            <div class="image"></div>
        </div>
        <!--    <nz-divider></nz-divider>-->
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                    <input
                        type="password"
                        nz-input
                        nzSize="large"
                        formControlName="newPassword"
                        [placeholder]="'change-password.new_password' | i18next"
                    />
                </nz-input-group>
                <nz-form-explain
                    *ngIf="forgotPasswordConfirm.get('newPassword')?.dirty && forgotPasswordConfirm.get('newPassword')?.errors"
                >
                    <ng-container *ngIf="forgotPasswordConfirm.get('newPassword')?.errors.required">
                        {{ 'change-password.new_password_validation' | i18next }}
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <nz-input-group [nzPrefix]="prefixLock">
                    <input
                        type="password"
                        nz-input
                        nzSize="large"
                        formControlName="passwordConfirm"
                        [placeholder]="'change-password.confirm_password' | i18next"
                    />
                </nz-input-group>
                <nz-form-explain
                    *ngIf="forgotPasswordConfirm.get('passwordConfirm')?.dirty && forgotPasswordConfirm.get('passwordConfirm')?.errors"
                >
                    <ng-container *ngIf="forgotPasswordConfirm.get('passwordConfirm')?.errors.required">
                        {{ 'change-password.confirm_password_validation' | i18next }}
                    </ng-container>
                </nz-form-explain>
            </nz-form-control>
        </nz-form-item>
        <nz-form-item>
            <nz-form-control>
                <button
                    nz-button
                    nzType="primary"
                    nzSize="large"
                    [disabled]="!forgotPasswordConfirm.valid"
                    nzBlock
                    [nzLoading]="forgotPasswordConfirmState.isLoading()"
                >
                    {{ 'forgot-password-confirm.confirm' | i18next }}
                </button>
            </nz-form-control>
        </nz-form-item>
        <nz-alert
            nzType="success"
            *ngIf="forgotPasswordConfirmState?.hasSucceeded()"
            [nzMessage]="forgotPasswordConfirmState?.successResult().message"
        >
        </nz-alert>
        <nz-alert
            nzType="info"
            *ngIf="forgotPasswordConfirmState?.hasFailed()"
            [nzMessage]="forgotPasswordConfirmState?.failedResult().message"
            [nzDescription]="forgotPasswordConfirmState?.failedResult().context.message"
        ></nz-alert>
    </form>
    <ng-template #prefixUser><i nz-icon nzType="user"></i></ng-template>
    <ng-template #prefixLock><i nz-icon nzType="lock"></i></ng-template>
</rp-login-page>
