<form nz-form [formGroup]="updateRoleForm" nzLayout="vertical" (ngSubmit)="onUpdateRole()">
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="name">Name</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="name" id="name">-->
    <!--            <nz-form-explain *ngIf="updateRoleForm.get('name')?.dirty && updateRoleForm.get('name')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-label nzRequired nzFor="identifier">Identifier</nz-form-label>-->
    <!--        <nz-form-control>-->
    <!--            <input nz-input formControlName="identifier" id="identifier">-->
    <!--            <nz-form-explain-->
    <!--                *ngIf="updateRoleForm.get('identifier')?.dirty && updateRoleForm.get('identifier')?.errors">-->
    <!--                {{ 'input_required' | i18next }}-->
    <!--            </nz-form-explain>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
    <!--    <nz-form-item>-->
    <!--        <nz-form-control>-->
    <!--            <button nz-button nzType="primary" [disabled]="!updateRoleForm.valid"-->
    <!--                    [nzLoading]="updateRoleState.isLoading()"><i nz-icon nzType="save" nzTheme="outline"></i>-->
    <!--                Save-->
    <!--            </button>-->
    <!--        </nz-form-control>-->
    <!--    </nz-form-item>-->
</form>
<nz-alert nzType="success" *ngIf="updateRoleState?.hasSucceeded()" [nzMessage]="updateRoleState?.successResult().message" nzShowIcon>
</nz-alert>
<nz-alert
    nzType="error"
    *ngIf="updateRoleState?.hasFailed()"
    [nzMessage]="updateRoleState?.failedResult().message"
    [nzDescription]="updateRoleState?.failedResult().context.message"
    nzShowIcon
></nz-alert>
